:root.theme-dark {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --accent-color: #FF0070;
    --card-text: #F1B2CE;
    --title-color: #DB00FF;
    --header-text-color: #000028;
    --header-text-bg-color: #FF0070;
    --accent-color-border: rgba(255, 0, 112, 0.4);
    --shadow-color: #FF0070;
    --corner-color: #FF0070;
    --header-color: #FF0070;
}

.theme-dark .header__hiddencorner {
  display: flex;
}