:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --card-text: #f1b2ce;
  --title-color: #db00ff;
  --header-text-color: #000028;
  --header-text-bg-color: #ff0070;
  --accent-color-border: rgba(255, 0, 112, 0.4);
  --shadow-color: #ff0070;
  --corner-color: #ff0070;
  --header-color: #ff0070;
}

.theme-dark .rec-indicator {
  display: flex;
}
