.page {
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--main-font, monospace);
  display: flex;
  flex-direction: column;
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  gap: var(--gap_menu);
  height: 100vh;
  min-height: 668px;
  padding: var(--decoration-gap) 0;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--decoration-gap);
  right: var(--decoration-gap);
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--decoration-gap);
  left: var(--decoration-gap);
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
  block-size: 25px;
  inline-size: 25px;
}

.header__theme-menu {
  justify-self: end;
  margin: auto var(--decoration-gap);
}

.header__theme-menu-list {
  position: relative;
  display: grid;
  gap: 13px;
}

.header__theme-menu-button {
  display: inline-block;
  width: 70px;
  height: 26px;
  border: none;
  padding: 1.5px 15px;
  color: var(--header-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header-color);
}

.header__hiddencorner {
  position: absolute;
  top: var(--decoration-gap);
  right: var(--decoration-gap);
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 9px;
  color: var(--accent-color);
}

.header__hiddencorner::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  overflow: hidden;
  background-color: var(--accent-color);
}

.header__text {
  margin-right: 0 var(--decoration-gap);
  color: var(--header-text-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px;
  background-color: var(--header-text-bg-color);
}

.header__title {
  padding: var(--decoration-gap);
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0px var(--shadow-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 var(--decoration-gap);
}

.hard_to_concentrate,
.what_reduces_attention,
.how_to_concentrate,
.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__header {
  color: var(--header-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
  cursor: pointer;
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid currentColor;
}

.section__link:hover {
  border-bottom: 1px solid currentColor;
}

.title-decor {
  color: var(--header-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--header-text-bg-color);
}

.card,
.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__list-header {
  font-weight: 400;
}

.card__text {
  color: var(--card-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.pictures {
  display: flex;
  flex-direction: column;
  gap: var(--decoration-gap);
}

.gallery {
  display: grid;
  grid-gap: var(--decoration-gap);
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: var(--decoration-gap);
}

.footer__text {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (width >= 768px) {
  :root {
    --decoration-gap: 20px;
  }

  .page {
    gap: 60px;
  }

  .main {
    gap: 80px;
  }

  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__theme-menu {
    grid-column: 1/3;
    grid-row: 1;
  }

  .header__title {
    left: -20px;
    grid-column: 1/3;
    grid-row: 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    grid-column: 2;
    grid-row: 3;
  }

  .hard_to_concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .hard_to_concentrate .section__header,
  .what_reduces_attention .section__header,
  .how_to_concentrate .section__header {
    grid-column: 1;
  }

  .how_to_concentrate .section__header {
    grid-row: 1/3;
  }

  .hard_to_concentrate .card {
    grid-column: 2;
  }

  .what_reduces_attention {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .what_reduces_attention .card {
    grid-column: 1/-1;
  }

  .how_to_concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .rules, .section__list {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, minmax(196px, 1fr));
    grid-auto-flow: dense;
  }

  .sunset,
  .street {
    grid-column: span 2;
  }

  .books {
    grid-column: span 1;
    grid-row: span 1;
  }

  .ice-cream,
  .tape {
    grid-row: span 2;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: start;
    height: 100%;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .hard_to_concentrate {
    grid-template-columns: repeat(3, 1fr);
  }

  .hard_to_concentrate .section__header {
    grid-row: span 2;
  }

  .hard_to_concentrate .card {
    grid-column: span 2;
  }

  .what_reduces_attention {
    grid-template-columns: repeat(3, 1fr);
  }

  .what_reduces_attention .card {
    grid-column: span 1;
    grid-row: 2;
  }

  .how_to_concentrate {
    grid-template-columns: repeat(3, 1fr);
  }

  .how_to_concentrate .rules,
  .how_to_concentrate .section__list {
    grid-column: 2/4;
  }

  .how_to_concentrate .section__header {
    grid-row: span 2;
  }
  
  .header, .footer {
    min-height: 768px;
  }
}

@media (width < 768px) {
  .header, .footer {
    min-height: 668px;
  }
}
