:root {
  --bg-color: #000028;
  --accent-color: #FF0070;
  --card-text: #F1B2CE;
  --title-color: #DB00FF;
  --decoration-gap: 10px;
  --header-text-color: #000028;
  --header-text-bg-color: #FF0070;
  --accent-color-border: rgba(255, 0, 112, 0.4);
  --gap_menu: 11.5px;
  --bg-image: url(../images/cover-image-dark.png);
  --main-font: 'IBM Plex mono';
  --shadow-color: #FF0070;
  --corner-color: #FF0070;
  --header-color: #FF0070;
}
